/* ヘッダー */
header {
  text-align: center;
}
/* メイン */
body {
  background-color: aliceblue;
}

.gallery {
  width: 1000px;
  height: 1500px;
  margin: auto;
}

.gallery ul {
  list-style: none;
  background-color: white;
  width: 280px;
  height: 250px;
  margin: 0 30px 30px 0;
  padding: 10px 0;
  float: left;
  border: solid 1px #ccc;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
}
/* wrapper */ 
.wrapper {
  height: 500px;
  background-color: antiquewhite;
}

.wrapper table {
  float: left;
  width: 400px;
  text-align: center;
  height: 250px;
}

.ooo table td {
  border: solid 1px;
}
/* フッター */




