/* ヘッダー */
header {
  text-align: center;
}
/* メイン */
body {
  background-color: aliceblue;
  margin: 0;
}

.gallery {
  width: 1000px;
  height: 1500px;
  margin: auto;
}

.gallery ul {
  list-style: none;
  background-color: white;
  width: 280px;
  height: 250px;
  margin: 0 30px 30px 0;
  padding: 10px 0;
  float: left;
  border: solid 1px #ccc;
  text-align: center;
  font-weight: bold;
}

.gallery ul:hover {
  background-color: aliceblue;
  cursor: pointer;
}

h3 {
  text-align: center;
}
/* フッター */
.footer_nav {
  height: 700px;
  background-color: cornsilk;
}

.footer_nav table {
  float: left;
  width: 390px;
  text-align: center;
  height: 250px;
  margin-top: 30px;
}

.rrr table td {
  border: solid 1px;
  background-color: lightcyan;
}

table {
  border-collapse: collapse;
}

.hhh table {
  float: none;
  margin: auto;
}
